/crash-reports
/downloads
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/journeymap.log
/local
/logs
/saves
/tconplanner
/trees
/usercache.json
/.curseclient
/BotaniaVars.dat
/minecraftinstance.json
/options.txt
/patchouli_data.json
/usernamecache.json